.home-container {
  height: 100vh;
}
.Home-header {
  margin-top: 10vh;
  margin-left: 40px;
}
.Home-header h1 {
  opacity: 1 !important;
  font-size: 50px;
  font-weight: 900;
  /* margin: 29px; */
}
.Home-header h1 span {
  color: lightseagreen;
  text-decoration: underline;
  font-size: 65px;
}
.Home-header p {
  width: 50%;
  font-size: 18px;
  margin-top: 9vh;
  /* margin-left: 29px; */
}
.Home-header img {
  width: 40%;
  outline: none !important;
  border: none !important;
  background: transparent;
  position: absolute;
  right: 5px;
  top: 100px;
}

.home-container button {
  font-size: 22px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: lightseagreen;
  color: var(--background);
  cursor: pointer;
}
.home-container button:hover{
  background: transparent;
  color: lightseagreen;
  border: 2px solid lightseagreen;
}
.Home-footer {
  background: rgb(180, 169, 155, 0.4);
  margin-top: 40vh;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  display: flex;
  width: 35%;
  position: absolute;
  left: 10px;
  bottom: -290px;
}
.footer-content .footer-content-p {
  font-size: 15px;
  display: flex;
}
.help-footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 15%;
  text-align: left;
}
.help-footer-links p {
  font-size: 17px;
}
.help-footer-links a {
  text-decoration: none;
  margin-top: 12px;
  color: lightseagreen;
}
.support-footer-links {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: absolute;
  right: 400px;
  margin-top: 40px;
}
.support-footer-links a {
  text-decoration: none;
  margin-top: 12px;
  color: lightseagreen;
}
.social-icons{
  /* padding-left:8rem ; */
  /* background: red; */
  position: absolute;
  bottom: -350px;
  right: 40px;
}
.social-icons a {
  /* height: 6vh; */
  color: lightseagreen;
  margin: 5px;
}
