@import url("https://fonts.goo@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;0,300;0,500;1,100;1,200&display=swap');gleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}


.Navbar-header {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 80px;
  font-size: 20px;
  background-color: transparent !important;
  color: var(--accent);
  border-bottom: 1px solid rgb(236, 230, 230);
}
.Navbar-header .Navbar-h3 {
  position: absolute;
  left: 5px;
  top: 4px;
  font-size: 25px;
  color: var(--accent);
}
.Navbar-header nav {
  text-align: right;
}
.signup-btn {
  background: rgb(230, 227, 227);
  width: 90px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 40px;
  border-radius: 4px;
}

nav a {
  margin: 0 1rem;
  color: var(--accent);
  text-decoration: none;
  transition: 1s ease all;
}
nav a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: black;
  opacity: 0.5;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav a.active::after {
  transform: scaleX(1);
}
nav a:hover::after {
  transform: scaleX(1);
}

nav a:hover {
  color: var(--secondaryColor);
}

.Navbar-header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-primary);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.Navbar-header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .Navbar-header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .Navbar-header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--accent);
    color: var(--text-primary) !important;
    border-bottom: 1px solid rgb(236, 230, 230);
    transition: 1s;
  }

  .Navbar-header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
    color: white;
  }
}
