:root {
  --background: #fff;
  --text-primary: #000;
  --text-secondary: #8e05c2;
  --accent: #8e05c2;
  --border: #333;
  --form-bg: #fff;
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #8e05c2;
  --accent: #8e05c2;
  --border: #808080;
  --form-bg: #191919;
}
/* ===========================Login============================== */
.login-page {
  background: var(--background);
  color: var(--text-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  margin-top: 10px;
}
.container h1 {
  text-align: center;
  margin: -6rem 0 2rem;
  font-size: 48px;
  color: red;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 500px;
  margin: auto;
  box-shadow: 0px 0px 15px var(--border);
  border-radius: 10px;
}
.top {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 40%;
}
.top a {
  color: dimgray;
  font-size: 16px;
}
.top a:hover {
  opacity: 0.7;
}
.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--text-primary);
  line-height: 0.1rem;
  margin: 2rem 0;
}
.divider span {
  padding: 0 10px;
  background-color: var(--form-bg);
}
.container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container form label {
  margin: 8px;
  font-weight: 600;
  font-size: 18px;
}
.container form input {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 7px;
  border: 1px solid var(--border);
  color: var(--text-primary);
}
.container form button {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: #fff;
  margin: 16px 0;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}
.container form button:hover {
  opacity: 0.8;
}
.login-email {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 7px;
  border: 1px solid var(--border);
  color: var(--text-primary);
  width: 95%;
}
.login-password {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 7px;
  border: 1px solid var(--border);
  color: var(--text-primary);
  width: 95%;
}
input[type="checkbox"] {
  transform: scale(1.2) translateY(1px) !important ;
  height: auto !important;
}
.password-input-container label {
  font-size: 15px;
  transform: scale(1.3) translateY(-2px) !important ;
  font-weight: 300 !important;
  border: none;
}
.bottom {
  display: flex !important;
  justify-content: space-between;
  width: 50%;
  align-items: center !important;
  font-size: 0.9rem;
}
.create-account {
  text-align: center !important;
  font-size: 0.9rem;
}
/* ===============================Signup ================================== */
.signup-page {
  background: var(--background);
  color: var(--text-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  margin-top: 10px;
}
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 500px;
  margin: auto;
  box-shadow: 0px 0px 15px var(--border);
  border-radius: 10px;
}
.signup-header {
  text-align: center;
  margin: -4rem 0 0rem;
  font-size: 48px;
  width: 100%;
}
.signup-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.signup-container form label {
  margin: 8px;
  font-weight: 600;
  font-size: 18px;
}
.signup-container form input {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 7px;
  border: 1px solid var(--border);
  color: var(--text-primary);
}
.signup-container form button {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: #fff;
  margin: 16px 0;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}
.signup-container form button:hover {
  opacity: 0.8;
}
.signup-checkbox-label {
  font-weight: 300 !important;
  font-size: 15px !important;
}
/* =========================Media Querries==================== */

/* =========================Media Querries Phones==================== */
@media screen and (max-width: 767px) {
  /* ============Login ==================== */
  .container {
    /* width: ; */
    align-items: center;
    justify-content: center;
    /* margin-left: 1%; */
  }
  .container form label {
    font-size: 14px;
    font-weight: 500;
  }
  .create-account,
  .bottom {
    font-size: 0.8rem;
  }
  .password-input-container label {
    font-size: 12px;
  }
  .signup-page {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .signup-container {
    width: auto;
    align-items: center;
    justify-content: center;
    /* margin-left: %; */
  }
  .bottom {
    display: flex !important;
    justify-content: space-between;
    width: 80%;
    align-items: center !important;
    font-size: 0.7rem;
  }
}
/* =======================Tablet ============================= */
@media screen and (min-width: 767px) and (max-width: 1023) {
  /*============================Login===============================  */
  .signup-container,
  .container {
    min-height: calc(100vh - 100px) !important;
    width: auto;
  }
}

/* ==========================Laptop ======================== */
@media screen and (min-widh: 1024px) {
  .login-page {
    height: 120vh;
    margin-bottom: 120px;
  }
  .login {
    width: auto;
    margin-top: 120px;
  }
  .container {
    margin: auto !important ;
    /* background: red; */
  }
  .signup-page {
    height: 120vh;
  }
}
